
#main {
  width: 960px;
}
.axis .domain {
  display: none;
}
.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}


.x.axis path {
  display: none;
}

.tooltip{
  text-anchor: middle;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  fill:black;
}