#world-chart {
	float: center; 
	width: 500px;
	height: 100%; 
	/* margin-left: 100%; */
}

.countries {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

.legendThreshold {
	font-size: 12px;
	font-family: sans-serif;
}

.caption {
	fill: #000;
	text-anchor: start;
	font-weight: bold;
}

div.tooltip { 
	position: absolute;     
	text-align: center;     
	width: 80px;          
	height: 14px;         
	padding: 2px;       
	font: 12px sans-serif;    
	background: #fff; 
	border: 0px;        
	pointer-events: none;     
}

.tooltip {
	position: absolute;
	padding: 7px;
	font-size: 0.9em;
	pointer-events: none;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	
	-moz-box-shadow:    3px 3px 10px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.tooltip p {
	margin: 0;
	padding: 0;
}

.tooltip table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
