#world-chart {
	float: center; 
	width: 500px;
	height: 100%; 
	/* margin-left: 100%; */
}

.countries {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

.legendThreshold {
	font-size: 12px;
	font-family: sans-serif;
}

.caption {
	fill: #000;
	text-anchor: start;
	font-weight: bold;
}