
body {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	vertical-align: middle;
	background: #1A222C;
	fill: white;
	color: white;	
	cursor:default;
}

a {
	text-decoration: none;
	color: #6E6E6E;
}

#dialog_content_span {
	font-size: 14px;
}

#intro{
	position: absolute;
	top: 10px;
	left: 20px;
	/* width: 180px; */
	text-align: left;
	color: #B5B5B5;
}

#intro h2{
	font-family: Oswald;
	font-size: 24px;
	font-weight: 300;
	color: white;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.3em;
}

.center-title {
	font-size: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.center-title h1 {
	font-size: 40px;
	font-family: Oswald;
}

.center-title h2, h3 {
	font-family: Oswald;
}

.center-title p {
	font-size: 12pt;
	margin: 0 2rem 0.75rem 2rem;
}

.actionButtons {
	margin-top: 15px;
}

.flexcontainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
	/* max-width: 90%; */
	vertical-align: middle;
}

.flexcontainer h1 {
	font-size: 50px;
}
.flexcontainer h2 {
	font-size: 30px;
}
.flexcontainer p {
	font-size: 16px;
}

.three-column {
	float: left;
	/* padding: 10px; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.left {
	width: 42%;
}

.middle {
	width: 28%;
}

.right {
	width: 30%;
}

.left-head {
	width: 25%;
}

.middle-head {
	width: 50%;
}

.right-head {
	width: 25%;
}

/* Clear floats after the columns */
.three-row:after {
	content: "";
	display: table;
	clear: both;
}

.some-page-wrapper {
	margin: 15px;
	background-color: red;
}

.three_row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.three_column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.orange-column {
	background-color: orange;
	height: 100px;
}

.blue-column {
	background-color: blue;
	height: 100px;
}

.green-column {
	background-color: green;
	height: 100px;
}

#all_years_btn {
	margin-top: -20px;
}