/* Global page style */

body {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	vertical-align: middle;
	background: #0E0E0E;
	fill: white;
	color: white;	
	cursor:default;
}

a {
	text-decoration: none;
	color: #6E6E6E;
}

#intro{
	position: absolute;
	top: 10px;
	left: 20px;
	width: 180px;
	text-align: left;
	color: #B5B5B5;
}

#intro h2{
  font-family: Oswald;
  font-size: 24px;
  font-weight: 300;
  color: white;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.3em;
}

.center-title {
    font-size: 26px;
    display: flex;
    justify-content: center;
}

.center-title h1 {
    font-size: 50px;
}

.center-title h1, h2, h3 {
    font-family: Oswald;
}

.center-title p {
    font-size: 12pt;
    margin: 0 2rem 0.75rem 2rem;
}