<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Terrorism attacks</title>

<link href="dependencies.html" rel="import" /> <!-- deprecato ma funziona -->

<body>
	
	<!-- Popup with attack summary, appears when click on attack on graph -->
	<div id="id01" class="w3-modal w3-animate-opacity">
		<div class="w3-modal-content w3-card-4">
			<header class="w3-container w3-red">
				<span onclick="document.getElementById('id01').style.display='none'"
				class="w3-button w3-large w3-display-topright">&times;</span>
				<span id="dialog_title_span">
					<h2>Attack summary</h2>
				</span>
			</header>
			<div class="w3-container" style="color:black">
				<span id="dialog_content_span"></span>
			</div>
			<footer class="w3-container w3-red">
			</footer>
		</div>
	</div>
</div>

<!-- modal con messaggio quando si clicca su grafico -->
<div id="id02" class="w3-modal" style="z-index:4">
	<div class="w3-modal-content w3-animate-zoom" style="width: 1440px;">
		<div class="w3-container w3-padding w3-red">
			<span
			onclick="document.getElementById('id02').style.display='none'; comp = [];d3v3.select('#table2').selectAll('row').remove();d3v3.select('#table2').selectAll('header').remove()"
			class="w3-button w3-right w3-xxlarge"><i class="fa fa-remove"></i></span>
			<h2 style="font-family: Oswald; font-size:40pt;">Global terrorist attacks</h2>
		</div>
		<div class="w3-panel" id="table2">
		</div>
	</div>
</div>

<!-- lascia spazio iniziale -->
<div class="flexbox" style="height:20px;"></div>

<div class="three-row">
	<div class="three-column left-head">
		<h1>Terrorism attacks</h1> 
	</div>
	<div class="three-column middle-head" >
		<div id="swift2Slider" class="coralLeft flexcontainer"> </div>
	</div>
	<div class="three-column right-head actionButtons" >
		<button id="update_btn" class="w3-btn w3-round-xxlarge w3-red" onclick="updateCharts()">Update</button> &nbsp;
		<button id="reset_btn" class="w3-btn w3-round-xxlarge w3-red" onclick="resetCharts()">All years</button> &nbsp;
	</div>
</div>


<div class="three-row">
	<div class="three-column left">
		<div class="world-map" id="world-map" style="width: 700px; height: 400px"></div>
		 <input id="world-map-region-trigger" type="hidden"> <!--trigger scatterplot update based on region -->
	</div>
	<div class="three-column middle">
		<div id="scatter"></div>
	</div>
	<div class="three-column right actionButtons">
		<div id="chart"></div>
	</div>
</div>

<div id="no_data" style="height:20px;"></div>

<section class="container" id="split-container">
	<div class="left-half">
		<div id="parallelArea" class="parcoords flexcontainer"></div>
	</div>
	<div class="right-half">
		<div id="grid"></div>
	</div>
</section>

<!-- start everything on load -->
<script>

	$.getJSON(
	'/map',
	{ computeMap: selectedSliderYear + ";" + JSON.stringify([]) },
	() => map3()
	)

	$.getJSON(
        '/pca',
        { computePCA: selectedSliderYear + ";" + JSON.stringify([])  + ";" + JSON.stringify([]) },
        () => scatter()
	)
	
	resetCharts()

</script>

</body>
</html>
